/* Universal styles */
*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: #f4f2ee;
}
button{
    cursor: pointer;
}
a{
    text-decoration: none;
    font-weight: 650;
}
/* Button styles */
.bt1{
    width: 91px;
    height: 32px;
    border: 1px solid #0a66c2;
    border-radius: 100px;
    background-color: #0a66c2;
    color: white;
}
.bt2{
    width: 169px;
    height: 32px;
    border: 1px solid #0a66c2;
    border-radius: 100px;
    background-color: #fff;
    font-weight: bolder;
    color: #0a66c2;
}
.bt3{
    width: 70px;
    height: 32px;
    border: 1px solid #878787f5;
    border-radius: 100px;
    background-color: white;
    color: #878787f5;
}

/* Header Styles */
/* Left */
header{
    height: 53px;
    width: 100%;
    background-color: #fff;
    padding-top: 10px;
    border: 1px solid #e8e8e8;
    display: flex;
    justify-content: space-around;
    position: fixed;
    margin-top: -30px;
    z-index: 10;
}
.h1{
    display: flex;
}
#main-icon{
    height: 34px;
    width: 34px;
}
.search{
    height: 34px;
    width: 280px;
    border: 2px solid #edf3f8;
    border-radius: 2px;
    background-color: #edf3f8;
    margin-left: 10px;
}
#searchbar{
    border: none;
    height: 34px;
    width: 254px;
    background-color: #edf3f8;
}
.search i{
    margin-left: 5px;
}

/* Right */
.h2{
    display: flex;
}
.left{
    display: flex;
}
#my-photo{
    height: 24px;
    width: 24px;
    border-radius: 50%;
    margin: 0px 15px 5px 15px ;
    transform: scale(1.3);
    position: relative;
    top: 9px;
}
.h2 i{
    margin: 5px 15px 5px 15px ;
    transform: scale(1.5);
}
.h2 h4{
    font-weight: 300;
    text-align: center;
    font-size: 12px;
}
.h2 div{
    margin: 0 10px 0 10px;
}
.fa-solid{
    opacity: 0.5;
    font-size: 13px;
    cursor: pointer;
}
.fa-solid:hover{
    opacity: 1;
    font-size: 15px;
}
.fa-person{
    position: relative;
    left: 10px;
}
.right{
    border-left: 1px solid #e8e8e8;
    margin-left: 5px;
}
#h-p{
    font-size: 13px;
    display: inline;
    text-decoration: underline;
    margin-left: 10px;
}
#h-p span{
    margin-left: 58px;
}
/* Main Section Styles */
main{
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
}
.profile{
    width: 800px;
    height: 500px;
    border-radius: 10px;
    border: 1px solid #dfdeda ;
    position: relative;
    z-index: 5;
    margin-top: 60px;
}
.sidebar{
    width: 300px;
    height: 1882px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #f4f2ee;
    margin-top: 60px;

}

/* profile view section styles */
.profile-view{
    background-color: #fff;

}
.cover-photo{
    height: 200px;
    width: 800px;
    background-color: #a0b4b7;
}
#profile-photo{
    height: 152px;
    width: 152px;
    border-radius: 50%;
    position: relative;
    bottom: 82px;
    left: 30px;
}
.profile-description{
    position: relative;
    bottom: 60px;
    margin-left: 26px;
}
#location{
    color: #666;
}

.profile-description p{
    margin-bottom: 11px;
}
.profile-description button{
    margin: 11px 10px 11px 0;
}
#college-logo{
    height: 32px;
    width: 32px;
}
.college-name{
    display: flex;
    position: relative;
    bottom: 214px;
    left: 531px;
    width: 160px;
}
.college-name p{
    position: relative;
    top: 9px;
    left: 5px;
    font-weight: bold;
}
/* Profile boxes styles */
.profile-box{
    height: auto;
    width: 800px;
    border: 1px solid #dfdeda ;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 26px;
    margin-top: 20px
}
.profile-box h3{
    font-weight: 550;
    margin-bottom: 30px;
}
.profile-box p{
    font-size: 15px;
}
#a1{
    color: #666;
}
#a2{
    font-size: medium;
}
#college-logo2{
    height: 48px;
    width: 48px;
}
.college{
    display: flex; 
}
.name{
    margin-left: 25px;
}
.name p{
    color: #666;
}
.name h3{
    margin-bottom: -10px;
}
.i1{
    display: flex;
}
.i1 h3{
    position: relative;
    top: 9px;
    left: 9px;
}
.i{
    display: flex;
    justify-content: space-around;
}

/* Sidebar Styles */
.s1{
    height: auto;
    width: auto;
    border: 1px solid #dfdeda;
    padding: 20px;
}
#x{
    height: 40px;
    width: 40px;
    border-radius: 50% ;
    margin: 0 20px 0 10px;
}
.person{
    display: flex;
    margin-bottom: 30px;
}
#place{
    color: #666;
}
#person-name{
    font-size: 13px;
    margin: 5px 0 5px 0;
}
#connect{
    height: 30px;
    width: 84px;
    border: 1px solid #0a66c2;
    border-radius: 30px;
    color: #0a66c2;
    cursor: pointer;
}
#s2-photo-1{
    height: 80px;
    width: 80px;
    border-radius: 50%;
    margin: 10px 20px 10px 10px;
}
#s2-photo-2{
    height: 80px;
    width: 80px;
    margin: 10px 20px 10px 10px;
}
.s2{
    height: auto;
    width: auto;
    border: 1px solid #dfdeda;
    padding: 20px;
}

/* Footer styles */
.f{
    display: flex;
    flex-direction: column;
}
footer{
    display: flex;
    justify-content: space-evenly;
    margin-top: 100px;
}
.f a{
    font-size: 12px;
    color: #7c7b79;
    margin: 12px;
}
.f4-links{
    display: flex;
    margin: 8px;
}
.f4-text{
    margin-left: 20px;
}
p, i, h1, h2, h3, h4, h5, h6, button,div, span, a {
    background-color: white;
}
footer div, footer i, footer h4, footer p , footer a{
    background-color: #f4f2ee;
}
#language{
    height: 32px;
    width: 228px;
    background-color: white;
}
.f4-text h4{
    opacity: 0.7;
}
.f4-links i{
    position: relative;
    top: 5px;
}



/* Responsive segment */

@media screen and  (max-width: 1204px){
    body{
        font-size: 12px;
    }
    .profile{
        width: 670px;
    }
    .cover-photo{
        width: 670px;
    }
    .college-name{
        transform: translate(-25px);
    }
    .profile-box{
        width: 650px;
    } 
    header{
        position: relative;
    }
}

@media screen and (max-width: 1026px){
    .search{
        width: 34px;
        background-color: white;
        border: none;
    }
    .fa-magnifying-glass{
        font-size: 22px;
        position: relative;
        left: 30px;
        top: 5px;
    }
    #searchbar{
        display: none;
    }
    .profile{
        width: 400px;
    }
    .cover-photo{
        width: 400px;
    }
    .college-name{
        transform: translate(-250px,-90px);
        width: 100px;
    }
    .college-name p{
        display: none;
    }
    .profile-box{
        width: 370px;
    }
    .profile{
        height: auto;
        background-color: #f4f2ee;
        border: none;
    }
}

@media screen and (max-width: 859px){
    #h-p{
        display: none;
    }
}
@media screen and (max-width: 720px){
    .h2 h4{
        display: none;
    }
    .h2 i{
        position: relative;
        top: 7px;
    }
    .fa-house{
        position: relative;
        left: 10px;
    }
    main{
        display: block;
        margin-left: 50px;
    }
    .profile, .cover-photo, .profile-box{
        width: 500px;
    }
    .sidebar{
        padding: 20px;
        width: 500px;
    }
    #connect{
        position: relative;
        left: 220px;
        bottom: 75px;
    }
    footer{
        font-size: 10px;
    }
    .college-name{
        transform: translate(-200px);
        width: 100px;
    }
    .college-name p{
        display: block;
    }
}
